name: Build All On All Possible Platforms

# Also run on Tag created
on:
  schedule:
    - cron: '0 9 * * 1-5'
  push:
    branches: [main]
    tags:
      - "*"
  pull_request:
    branches: [main]

env:
  # update with the name of the main binary
  binary: dinosaur-game
  # Before enabling LFS, please take a look at GitHub's documentation for costs and quota limits:
  # https://docs.github.com/en/repositories/working-with-files/managing-large-files/about-storage-and-bandwidth-usage
  use_git_lfs: false

jobs:
  pre-release-check:
    runs-on: ubuntu-latest
    outputs:
      should_release: ${{ steps.check.outputs.should_release }}
      version: ${{ steps.version.outputs.version }}
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: ${{ env.use_git_lfs }}
          fetch-depth: 0 # Needed to check git history
      - uses: oven-sh/setup-bun@v1
      - run: bun install
      - name: Check if release is needed
        id: check
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          RESULT=$(./just.ts check-should-release)
          echo "should_release=$RESULT" >> "$GITHUB_OUTPUT"
          echo "Release needed: $RESULT"
      - name: Get Version
        id: version
        run: |
          VERSION=$(./just.ts get-version)
          echo "version=$VERSION" >> "$GITHUB_OUTPUT"
          echo "Version: $VERSION"

  # Build for wasm
  release-wasm:
    needs: pre-release-check
    if: needs.pre-release-check.outputs.should_release == 'true'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write

    steps:
      - uses: actions/checkout@v4
        with:
          lfs: ${{ env.use_git_lfs }}
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          target: wasm32-unknown-unknown
      - uses: oven-sh/setup-bun@v1
      - run: bun install
      - run: ./just.ts install-wasm-deps
      - run: ./just.ts build-wasm
      - run: ./just.ts prepare-wasm-package
      - name: Deploy to Cloudflare Pages Preview
        uses: cloudflare/pages-action@v1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: dinosaur-game
          directory: ./web
          # Optional parameters
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.event.pull_request.head.ref || 'main' }}
          wranglerVersion: "3"

  # Build for Linux
  release-linux:
    needs: pre-release-check
    if: needs.pre-release-check.outputs.should_release == 'true'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          lfs: ${{ env.use_git_lfs }}
      - uses: oven-sh/setup-bun@v1
      - run: bun install
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          target: x86_64-unknown-linux-gnu
      - run: ./just.ts install-linux-deps
      - name: install dependencies
        run: ./just.ts install-rust-deps
      - name: Build
        run: |
          cargo build --release --target x86_64-unknown-linux-gnu

      - name: Prepare package
        run: |
          mkdir linux
          cp target/x86_64-unknown-linux-gnu/release/${{ env.binary }} linux/
          cp -r assets linux/ || true # Try to copy, but ignore if it can't copy if source directory does not exist
      - name: Package as a zip
        working-directory: ./linux
        run: |
          zip --recurse-paths ../${{ env.binary }}.zip .
      - name: Upload binaries to artifacts
        if: startsWith(github.ref, 'refs/tags/') || github.event_name == 'schedule'
        uses: actions/upload-artifact@v4
        with:
          path: ${{ env.binary }}.zip
          name: linux
          retention-days: 1
      - name: Upload binaries to release
        if: startsWith(github.ref, 'refs/tags/') || github.event_name == 'schedule'
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ env.binary }}.zip
          tag_name: ${{ needs.pre-release-check.outputs.version }}
          name: ${{ env.binary }}-linux-${{ needs.pre-release-check.outputs.version }}.zip

  # Build for Windows
  run-windows:
    needs: pre-release-check
    if: needs.pre-release-check.outputs.should_release == 'true'
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4
        with:
          lfs: ${{ env.use_git_lfs }}
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          target: x86_64-pc-windows-msvc
      - uses: oven-sh/setup-bun@v1
      - run: bun install

      - name: Build
        run: |
          ./just.ts install-rust-deps
          cargo build --release --target x86_64-pc-windows-msvc

      - name: Prepare package
        run: |
          mkdir windows
          cp target/x86_64-pc-windows-msvc/release/${{ env.binary }}.exe windows/
          mkdir assets -ea 0 # create the assets directory if it does not exist, it will get ignored in the zip if empty
          cp -r assets windows/
      - name: Package as a zip
        run: |
          Compress-Archive -Path windows/* -DestinationPath ${{ env.binary }}.zip
      - name: Upload binaries to artifacts
        if: startsWith(github.ref, 'refs/tags/') || github.event_name == 'schedule'
        uses: actions/upload-artifact@v4
        with:
          path: ${{ env.binary }}.zip
          name: windows
          retention-days: 1
      - name: Upload binaries to release
        if: startsWith(github.ref, 'refs/tags/') || github.event_name == 'schedule'
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ env.binary }}.zip
          tag_name: ${{ needs.pre-release-check.outputs.version }}
          name: ${{ env.binary }}-windows-${{ needs.pre-release-check.outputs.version }}.zip

  # Build for MacOS x86_64
  run-macOS-intel:
    needs: pre-release-check
    if: needs.pre-release-check.outputs.should_release == 'true'
    runs-on: macOS-latest

    steps:
      - uses: actions/checkout@v4
        with:
          lfs: ${{ env.use_git_lfs }}
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          target: x86_64-apple-darwin
      - uses: oven-sh/setup-bun@v1
      - run: bun install
      - name: Environment Setup
        run: |
          export CFLAGS="-fno-stack-check"
          export MACOSX_DEPLOYMENT_TARGET="10.9"

      - name: Build
        run: |
          cargo clean
          rustup update
          rustup target add x86_64-apple-darwin
          ./just.ts install-rust-deps
          # cargo build -Z build-std --target x86_64-apple-darwin
          cargo build --release --target x86_64-apple-darwin

      - name: Prepare Package
        run: |
          mkdir -p ${{ env.binary }}.app/Contents/MacOS
          cp target/x86_64-apple-darwin/release/${{ env.binary }} ${{ env.binary }}.app/Contents/MacOS/
          cp -r assets ${{ env.binary }}.app/Contents/MacOS/ || true # Try to copy, but ignore if it can't copy if source directory does not exist
          hdiutil create -fs HFS+ -volname "${{ env.binary }}" -srcfolder ${{ env.binary }}.app ${{ env.binary }}-macOS-intel.dmg
      - name: Upload binaries to artifacts
        if: startsWith(github.ref, 'refs/tags/') || github.event_name == 'schedule'
        uses: actions/upload-artifact@v4
        with:
          path: ${{ env.binary }}-macOS-intel.dmg
          name: macOS-intel
          retention-days: 1
      - name: Upload binaries to release
        if: startsWith(github.ref, 'refs/tags/') || github.event_name == 'schedule'
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ env.binary }}-macOS-intel.dmg
          tag_name: ${{ needs.pre-release-check.outputs.version }}
          name: ${{ env.binary }}-macOS-intel-${{ needs.pre-release-check.outputs.version }}.dmg

  # Build for MacOS Apple Silicon
  run-macOS-apple-silicon:
    needs: pre-release-check
    if: needs.pre-release-check.outputs.should_release == 'true'
    runs-on: macOS-latest

    steps:
      - uses: actions/checkout@v4
        with:
          lfs: ${{ env.use_git_lfs }}
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          target: aarch64-apple-darwin
      - uses: oven-sh/setup-bun@v1
      - run: bun install
      - name: Environment
        # macOS 11 was the first version to support ARM
        run: |
          export MACOSX_DEPLOYMENT_TARGET="11"

      - name: Build
        run: |
          ./just.ts install-rust-deps
          cargo build --release --target aarch64-apple-darwin

      - name: Prepare Package
        run: |
          mkdir -p ${{ env.binary }}.app/Contents/MacOS
          cp target/aarch64-apple-darwin/release/${{ env.binary }} ${{ env.binary }}.app/Contents/MacOS/
          cp -r assets ${{ env.binary }}.app/Contents/MacOS/ || true # Try to copy, but ignore if it can't copy if source directory does not exist
          hdiutil create -fs HFS+ -volname "${{ env.binary }}-macOS-apple-silicon" -srcfolder ${{ env.binary }}.app ${{ env.binary }}-macOS-apple-silicon.dmg

      - name: Upload binaries to artifacts
        if: startsWith(github.ref, 'refs/tags/') || github.event_name == 'schedule'
        uses: actions/upload-artifact@v4
        with:
          path: ${{ env.binary }}-macOS-apple-silicon.dmg
          name: macOS-apple-silicon
          retention-days: 1

      - name: Upload binaries to release
        if: startsWith(github.ref, 'refs/tags/') || github.event_name == 'schedule'
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ env.binary }}-macOS-apple-silicon.dmg
          tag_name: ${{ needs.pre-release-check.outputs.version }}
          name: ${{ env.binary }}-macOS-apple-silicon-${{ needs.pre-release-check.outputs.version }}.dmg
